@{
    ViewBag.Title = "SSS Cargo - Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Assets/css/jquery-ui.min.css" rel="stylesheet" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            Home
        </li>
        <li class="active" style="font-size:14px; font-weight:600">
            Booking
        </li>
    </ul>
    <div class="form-group" style="float:right;width: 25%;
    padding: 3px 10px;">
        <div class="col-sm-12">
            <select class="form-control" id="selectgctype" onchange="showmeasurement(this)">
                <option value="0">Select GC Type</option>
            </select>
            <span class="red" id="spangctypehelper"></span>
        </div>
    </div>
</div>
<div class="page-content">
    <input type="hidden" id="hiddenbookid" value="0" />
    <input type="hidden" id="hiddencounterid" value="@ViewBag.CounterId" />
    <input type="hidden" id="hiddenloginid" value="@ViewBag.LoginId" />
    <input type="hidden" id="hiddenmobilenumber" value="@ViewBag.ContactNumber" />
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="alert alert-warning" style="display: none;" id="divWarningAlert">
                <strong>Warning!</strong>
                <span id="spanWarningAlert"></span>
            </div>
            <div class="alert alert-danger" style="display: none;" id="divErrorAlert">
                <strong>Error!</strong>
                <span id="spanErrorAlert"></span>
            </div>
            <div class="alert alert-success" style="display: none;" id="divSuccessAlert">
                <strong>Success!</strong>
                <span id="spanSuccessAlert"></span>
            </div>

            <div class="panel">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textsendercounter">Sending From <span class="red">*</span> </label>
                            <input type="text" id="textsendercounter" maxlength="50" value="@ViewBag.CounterName" placeholder="From" class="form-control" disabled />
                            <span class="red" id="spansendercounter"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textsendermobile">Sender Mobile Number <span class="red">*</span> </label>
                            <input type="text" id="textsendermobile" maxlength="10" value="" placeholder="Sender Mobile Number" class="form-control mobile-number" />
                            <span class="red" id="spansendermobile"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textsendername">Sender Name <span class="red">*</span> </label>
                            <input type="text" id="textsendername" maxlength="50" value="" placeholder="Sender Name" class="form-control" />
                            <span class="red" id="spansendername"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textsenderaddress">Sender Address <span class="red">*</span> </label>
                            <input type="text" id="textsenderaddress" maxlength="100" value="" placeholder="Sender Address" class="form-control" />
                            <span class="red" id="spansenderaddress"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textreceivercounter">Receive To <span class="red">*</span> </label>
                            <input type="text" id="textreceivercounter" maxlength="50" value="" placeholder="To" class="form-control" onblur="getroutedetails()" />
                            <span class="red" id="spanreceivercounter"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textreceivermobile">Receiver Mobile Number <span class="red">*</span> </label>
                            <input type="text" id="textreceivermobile" maxlength="10" value="" placeholder="Mobile Number" class="form-control mobile-number" />
                            <span class="red" id="spanreceivermobile"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textreceivername">Receiver Name <span class="red">*</span> </label>
                            <input type="text" id="textreceivername" maxlength="50" value="" placeholder="Name" class="form-control" />
                            <span class="red" id="spanreceivername"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textreceiveraddress">Receiver Address <span class="red">*</span> </label>
                            <input type="text" id="textreceiveraddress" maxlength="100" value="" placeholder="Address" class="form-control" />
                            <span class="red" id="spanreceiveraddress"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label" style="text-align: left;" for="textactualweight">Actual Weight In <label class="labelactualweightin">Kgs</label> <span class="red">*</span> </label>
                            <input type="text" id="textactualweight" maxlength="4" value="" placeholder="Actual Weight" class="form-control numeric" onblur="updatetotalweight()" />
                            <span class="red" id="spanactualweight"></span>
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label" style="text-align: left;" for="textpieces">Pieces <span class="red">*</span> </label>
                            <input type="text" id="textpieces" maxlength="5" value="" placeholder="Pieces" class="form-control numeric" onblur="updatetotalweight()" />
                            <span class="red" id="spanpieces"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="selectpiecestype">Pieces Type <span class="red">*</span> </label>
                            <select class="form-control" id="selectpiecestype">
                                <option value="0">Select Pieces Type</option>
                            </select>
                            <span class="red" id="spanpiecestype"></span>
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label" style="text-align: left;" for="textactualweight">Actual Weight In <label class="labelactualweightin">Kgs</label><span class="red">*</span> </label>
                            <input type="text" id="textdisplayactualweight" maxlength="4" value="" placeholder="Actual Weight" class="form-control numeric" disabled />
                            <span class="red" id="spanactualweight"></span>
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label" style="text-align: left;" for="textcalculatedweight">Calculated Weight In <label class="labelactualweightin">Kgs</label><span class="red">*</span> </label>
                            <input type="text" id="textcalculatedweight" maxlength="6" value="" placeholder="Calculated Weight " class="form-control numeric" disabled />
                            <span class="red" id="spancalculatedweight"></span>
                        </div>
                        <div style="float:left">
                            <button class="btn btn-sm btn-success pull-right" type="button" style="margin: 25px 0px 4px 8px;" onclick="return addparcelitems()">
                                <i class="ace-icon fa fa-plus bigger-110"></i>
                                Add
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <table id="dynamic-table" class="table table-striped table-bordered table-hover" style="margin-bottom: 0;">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;">S.No.</th>
                                        <th style="width: 15%;">Actual Weight</th>
                                        <th style="width: 15%;">Pieces</th>
                                        <th style="width: 15%;">Pieces Type</th>
                                        <th style="width: 15%;">Total Weight</th>
                                        <th style="width: 10%;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyparcelitems">
                                    <tr>
                                        <td colspan="6" style="text-align:center">No parcel items added</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textpoint1">Transhipment Point 1 </label>
                            <input type="text" id="textpoint1" maxlength="50" value="" placeholder="Transhipment Point 1" class="form-control" onblur="getroutedetails()" />
                            <span class="red" id="spanpoint1"></span>
                        </div>
                        <div class="col-sm-3"> 
                            <label class="control-label" style="text-align: left;" for="textpoint2">Transhipment Point 2 </label>
                            <input type="text" id="textpoint2" maxlength="50" value="" placeholder="Transhipment Point 2" class="form-control" onblur="getroutedetails()" />
                            <span class="red" id="spanpoint2"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="selectproducttype">Product Type <span class="red">*</span> </label>
                            <select class="form-control" id="selectproducttype">
                                <option value="0">Select Product Type</option>
                            </select>
                            <span class="red" id="spanproducttype"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textshipmentvalue">Shipment Value <span class="red">*</span> </label>
                            <input type="text" id="textshipmentvalue" maxlength="5" value="" placeholder="Shipment Value" class="form-control numeric" />
                            <span class="red" id="spanshipmentvalue"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label class="control-label" style="text-align: left;" for="textshipmentdescription">Description <span class="red">*</span></label>
                            <textarea id="textshipmentdescription" maxlength="500" value="" placeholder="Description" rows="2" class="form-control"></textarea>
                            <span class="red" id="spanshipmentdescription"></span>
                        </div>
                        <div style="float:left">
                            <button class="btn btn-sm btn-success pull-right" type="button" style="margin: 25px 13px 4px 13px;" onclick="return calculateprice()">
                                <i class="ace-icon fa fa-calculator bigger-110"></i>
                                Calculate Fare
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel" id="divfinalcalculation" style="display:none;">
                <div class="panel-body" style="margin-top: 10px;">
                    <div class="form-group">
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">Total Pieces <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 600;" id="spancalctotalpieces">0</label>
                        </div>
                        <div class=""> 
                            <label class="col-sm-2 control-label" style="text-align: left;">Total Weight <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 600;" id="spancalctotalweight">0</label>
                        </div>
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">Route <span style="float:right">:</span></label>
                            <label class="col-sm-4 control-label" style="text-align: left;font-weight: 600;" id="spanroute"></label>
                        </div>
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">Kms <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="font-weight: 600;text-align: left;" id="spankms">0</label>
                        </div>
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">Weight Info <span style="float:right">:</span></label>
                            <label class="col-sm-7 control-label" style="text-align: left;font-weight: 600;" id="spanweightlist"></label>
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="margin: 10px 0px;">
                    <div class="form-group">
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">Basic Amount <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 600;" id="spancalcbasicamount">0</label>
                        </div>
                        @*<div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">SUP Charges <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 600;" id="spancalcsupcharges">0</label>
                        </div>*@
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">With Pass Charges <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 600;" id="spancalcwithpasscharges">0</label>
                        </div>
                        @*<div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">Docket Charges <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 600;" id="spancalcdocketcharges">0</label>
                        </div>
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">Value SR Charges <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 600;" id="spancalcvaluesrcharges">0</label>
                        </div>*@
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">Collection Charges <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 600;" id="spancalccollectioncharges">0</label>
                        </div>
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">Hamali Charges <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 600;" id="spancalchamalicharges">0</label>
                        </div>
                        @*<div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">AOC Charges <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 600;" id="spancalcaoccharges">0</label>
                        </div>*@
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">Transhipment Charges <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 600;" id="spancalctranshipmentcharges">0</label>
                        </div>
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">Pickup Charges <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 600;" id="spancalcpickupcharges">0</label>
                        </div>
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">Location Pickup Charges <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 600;" id="spancalclocationpickupcharges">0</label>
                        </div>
                        <div class=""> 
                            <label class="col-sm-2 control-label" style="text-align: left;">Location Delivery Charges <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 600;" id="spancalclocationdeliverycharges">0</label>
                        </div>
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">Door Delivery Charges <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 600;" id="spancalcdoordeliverycharges">0</label>
                        </div>
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">Driver Charges <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 600;" id="spancalcdrivercharges">0</label>
                        </div>
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">Topay Charges <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 600;" id="spancalctopaycharges">0</label>
                        </div> 
                        <div style="float:left">
                            <a class="pull-right" href="javascript:void(0)" id="aeditprice" style="margin: 5px 13px 5px 13px; display: block;" onclick="return editpricedetails()">
                                <i class="ace-icon fa fa-pencil bigger-110"></i>
                                Edit Price
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="margin: 0px 0px 10px 0;">
                    <div class="form-group" id="divpriceentry" style="display:none;">
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textbasicamount">Basic Amount <span class="red">*</span> </label>
                            <input type="text" id="textbasicamount" maxlength="5" value="0" placeholder="Basic Amount" class="form-control numeric" />
                            <span class="red" id="spanbasicamount"></span>
                        </div>
                        @*<div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textsupcharges">SUP Charges <span class="red">*</span> </label>
                            <input type="text" id="textsupcharges" maxlength="5" value="0" placeholder="SUP Charges" class="form-control numeric" />
                            <span class="red" id="spansupcharges"></span>
                        </div>*@
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textwithpasscharges">With Pass Charges <span class="red">*</span> </label>
                            <input type="text" id="textwithpasscharges" maxlength="5" value="0" placeholder="With Pass Charges" class="form-control numeric" />
                            <span class="red" id="spanwithpasscharges"></span>
                        </div>
                        @*<div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textdocketcharges">Docket Charges <span class="red">*</span> </label>
                            <input type="text" id="textdocketcharges" maxlength="5" value="0" placeholder="Docket Charges" class="form-control numeric" />
                            <span class="red" id="spandocketcharges"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textvaluesrcharges">Value SR Charges <span class="red">*</span> </label>
                            <input type="text" id="textvaluesrcharges" maxlength="5" value="0" placeholder="Value SR Charges" class="form-control numeric" />
                            <span class="red" id="spanvaluesrcharges"></span>
                        </div>*@
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textcollection">Collection Charges<span class="red">*</span> </label>
                            <input type="text" id="textcollection" maxlength="5" value="0" placeholder="Collection Charges" class="form-control numeric" />
                            <span class="red" id="spancollection"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="texthamalicharges">Hamali Charges <span class="red">*</span> </label>
                            <input type="text" id="texthamalicharges" maxlength="5" value="0" placeholder="Hamali Charges" class="form-control numeric" />
                            <span class="red" id="spanhamalicharges"></span>
                        </div>
                        @*<div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textaoccharges">AOC Charges <span class="red">*</span> </label>
                            <input type="text" id="textaoccharges" maxlength="5" value="0" placeholder="AOC Charges" class="form-control numeric" />
                            <span class="red" id="spanaoccharges"></span>
                        </div>*@
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="texttranshipmentcharges">Transhipment Charges <span class="red">*</span> </label>
                            <input type="text" id="texttranshipmentcharges" maxlength="5" value="0" placeholder="Transhipment Charges" class="form-control numeric" />
                            <span class="red" id="spantranshipmentcharges"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textpickupcharges">Pickup Charges <span class="red">*</span> </label>
                            <input type="text" id="textpickupcharges" maxlength="5" value="0" placeholder="Pickup Charges" class="form-control numeric" />
                            <span class="red" id="spanpickupcharges"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textlocationpickupcharges">Location Pickup Charges <span class="red">*</span> </label>
                            <input type="text" id="textlocationpickupcharges" maxlength="5" value="0" placeholder="Location Pickup Charges" class="form-control numeric" />
                            <span class="red" id="spanlocationpickupcharges"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textlocationdeliverycharges">Location Delivery Charges <span class="red">*</span> </label>
                            <input type="text" id="textlocationdeliverycharges" maxlength="5" value="0" placeholder="Location Delivery Charges" class="form-control numeric" />
                            <span class="red" id="spanlocationdeliverycharges"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textdoordeliverycharges">Door Delivery Charges <span class="red">*</span> </label>
                            <input type="text" id="textdoordeliverycharges" maxlength="5" value="0" placeholder="Door Delivery Charges" class="form-control numeric" />
                            <span class="red" id="spandoordeliverycharges"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textdrivercharges">Driver Charges <span class="red">*</span> </label>
                            <input type="text" id="textdrivercharges" maxlength="5" value="0" placeholder="Driver Charges" class="form-control numeric" />
                            <span class="red" id="spandrivercharges"></span>
                        </div>
                        <div class="col-sm-3"> 
                            <label class="control-label" style="text-align: left;" for="texttopaycharges">Topay Charges <span class="red">*</span> </label>
                            <input type="text" id="texttopaycharges" maxlength="5" value="0" placeholder="Topay Charges" class="form-control numeric" />
                            <span class="red" id="spantopaycharges"></span>
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label" style="text-align: left;" for="textpriceeditremarks">Price Edit Remarks <span class="red">*</span></label>
                            <textarea id="textpriceeditremarks" maxlength="500" value="" placeholder="Price Edit Remarks" rows="2" class="form-control"></textarea>
                            <span class="red" id="spanpriceeditremarks"></span>
                        </div>
                        <div style="float:left">
                            <button class="btn btn-sm btn-info pull-right" type="button" style="margin: 25px 13px 4px 13px;" onclick="return updateprice()">
                                <i class="ace-icon fa fa-save bigger-110"></i>
                                Update Fare
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;font-weight: 600;">Sub Total <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 600;" id="spancalcsubtotal">0</label>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">GST (<span id="spangstperc">12%</span>) on basic<span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 600;" id="spancalcgst">0</label>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;font-weight: 600;">Total Amount <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 600;" id="spancalctotalamount">0</label>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">Discount Amount <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 600;" id="spancalcdiscountamount">0</label>
                        </div> 
                        <a class="" href="javascript:void(0)" id="aapplydiscount" style="margin: 5px 13px 5px 13px; display: block;" onclick="return openapplydiscountmodal()">
                            <i class="ace-icon fa fa-plus bigger-110"></i>
                            Apply Discount
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">Total After Discount <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 600;" id="spancalctotalafterdiscount">0</label>
                        </div> 
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">Round Off <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 600;" id="spancalcroundoffamount">0</label>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;font-weight: 600;">Grand Total <span style="float:right">:</span></label>
                            <label class="col-sm-1 control-label" style="text-align: left;font-weight: 1000;font-size: 15px;" id="spancalcgrandtotal">0</label>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;font-weight: 600;">Discount Remarks <span style="float:right">:</span></label>
                            <label class="col-sm-10 control-label" style="text-align: left;font-weight: 1000;font-size: 15px;" id="spancalcdiscountremarks"></label>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="clearfix form-actions" style="background-color: #fff;margin-bottom: 0;margin-bottom: 0;padding: 5px 20px 5px;">
                        <div style="width: 95%;">
                            <button class="btn btn-sm pull-right" type="reset" style="margin: 5px;" onclick="resetfields()">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                Reset
                            </button>
                            <button class="btn btn-sm btn-info pull-right" type="button" style="margin: 5px;" onclick="return savebooking()">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Save Booking
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="modaldeleteparcelitem" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closemodaldeleteparcelitem" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Delete Parcel Item</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label style="padding: 0px 15px;">Are you sure do you want to delete Parcel Item?</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary" onclick="return deleteitemconfirm()">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div id="modalsaveconfirm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closemodalsaveconfirm" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Add Booking Confirmation</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label style="padding: 0px 15px;">Are you sure do you want to add this Booking?</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary" onclick="return BookingConfirm()">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div id="modalbookingnumber" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closemodalbookingnumber" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Booking Confirmation</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-12 control-label" style="text-align: left;">Thank you, Consignee booked successfully and Consignee No. is : <span style="text-align: center;font-weight:600" id="spanbookingnumber">HNK12345  </span> </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close & Add new Booking</button>
                <button class="btn btn-danger" onclick="return PrintBookingConfirmation()">Print</button>
            </div>
        </div>
    </div>
</div>

<div id="modalapplydiscount" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closemodalapplydiscount" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Apply Discount</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="">
                            <label class="col-sm-3 control-label" style="text-align: left;">Total Amount <span style="float:right">:</span></label>
                            <label class="col-sm-2 control-label" style="text-align: left;font-weight: 600;" id="spandiscounttotalamount">0</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="control-label" style="text-align: left;" for="textdiscountamount">Discount Amount <span class="red">*</span> </label>
                            <input type="text" id="textdiscountamount" maxlength="5" value="0" placeholder="Discount Amount" onblur="validatediscountamount()" class="form-control numeric" />
                            <span class="red" id="spandiscountamount"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="control-label" style="text-align: left;" for="textdiscountremarks">Discount Remarks <span class="red">*</span></label>
                            <textarea id="textdiscountremarks" maxlength="500" value="" placeholder="Discount Remarks" rows="2" class="form-control"></textarea>
                            <span class="red" id="spandiscountremarks"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="">
                            <label class="col-sm-4 control-label" style="text-align: left;">Total Amount After Discount <span style="float:right">:</span></label>
                            <label class="col-sm-2 control-label" style="text-align: left;font-weight: 600;" id="spantotalamountafterdiscount">0</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-danger" onclick="return applydiscount()">Apply Discount</button>
            </div>
        </div>
    </div>
</div>

<div id="modalbooking" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> 
                <button type="button" id="closemodalbooking" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Confirm Booking</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label style="padding: 0px 15px;">Are you sure do you want to save booking with <b>GC Type : <label id="labelmodalgctype" style="font-weight: 800;"></label></b> and <b>Total Amount : <label id="labelmodaltotalamount" style="font-weight: 800;"></label></b></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary" onclick="return bookingconfirm()">Confirm</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Assets/js/jquery.2.1.1.min.js"></script>
<script src="~/Assets/js/jquery-ui.min.js"></script>

<script type="text/javascript">
    window.jQuery || document.write("<script src='~/Assets/js/jquery.min.js'>" + "<" + "/script>");
</script>

<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='~/Assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="~/Assets/js/bootstrap.min.js"></script>

<!-- page specific plugin scripts -->
<script src="~/Assets/js/jquery.dataTables.min.js"></script>
<script src="~/Assets/js/jquery.dataTables.bootstrap.min.js"></script>
@*<script src="~/Assets/js/dataTables.tableTools.min.js"></script>
    <script src="~/Assets/js/dataTables.colVis.min.js"></script>*@

<script src="~/scripts/common.js"></script>
<script src="~/scripts/booking.js"></script>

<script type="text/javascript">
    jQuery(function ($) {
        getmasters();
    });

    function SaveBooking() {
        $('#modalsaveconfirm').modal();
    }
    function BookingConfirm() {
        $('#closemodalsaveconfirm')[0].click();
        $('#modalbookingnumber').modal();
    }
</script>