@{
    ViewBag.Title = "SSS Cargo - Delivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            Home
        </li>
        <li class="active" style="font-size:14px; font-weight:600">
            Delivery
        </li>
    </ul>
</div>
<div class="page-content">
    <input type="hidden" id="hiddencounterid" value="@ViewBag.CounterId" />
    <input type="hidden" id="hiddenloginid" value="@ViewBag.LoginId" />
    <input type="hidden" id="hiddenmobilenumber" value="@ViewBag.ContactNumber" />

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="alert alert-warning" style="display: none;" id="divWarningAlert">
                <strong>Warning!</strong>
                <span id="spanWarningAlert"></span>
            </div>
            <div class="alert alert-danger" style="display: none;" id="divErrorAlert">
                <strong>Error!</strong>
                <span id="spanErrorAlert"></span>
            </div>
            <div class="alert alert-success" style="display: none;" id="divSuccessAlert">
                <strong>Success!</strong>
                <span id="spanSuccessAlert"></span>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textgcnuber">GC Number <span class="red">*</span> </label>
                            <input type="text" id="textgcnuber" maxlength="20" value="" placeholder="GC Number" class="form-control" />
                            <span class="red" id="spangcnuber"></span>
                        </div>
                        <div style="float: left;">
                            <button class="btn btn-sm btn-primary pull-right" type="button" style="margin: 25px 5px 5px 5px;" onclick="return searchbooking()">
                                <i class="ace-icon fa fa-search bigger-110"></i>
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="divReceivingDetails" style="display:none;">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title" style="font-size: 14px;">Receiving Details</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label class="col-sm-2 control-label" style="text-align: left;">GC Number <span style="float:right">:</span></label>
                                <label class="col-sm-2 control-label" style="font-weight: 600;text-align: left;" id="spangcnumber">--</label>
                            </div>
                            <div class="col-sm-3">
                                <label class="col-sm-2 control-label" style="text-align: left;">From <span style="float:right">:</span></label>
                                <label class="col-sm-2 control-label" style="font-weight: 600;text-align: left;" id="spandeliveryfrom">--</label>
                            </div>
                            <div class="col-sm-3">
                                <label class="control-label " style="text-align: left;" for="selectgctype">GC Type <span class="red">*</span> </label>
                                <select class="form-control col-sm-3" id="selectgctype">
                                    <option value="0">Select GC Type</option>
                                </select>
                                <span class="red" id="spandeliverygctype"></span>
                            </div>
                            <div class="col-sm-3">
                                <label class="control-label " style="text-align: left;" for="selectproducttype">Product Type <span class="red">*</span> </label>
                                <select class="form-control col-sm-3" id="selectproducttype">
                                    <option value="0">Select Product Type</option>
                                </select>
                                <span class="red" id="spanproducttype"></span>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label" style="text-align: left;">Pieces <span style="float:right">:</span></label>
                                <label class="control-label" style="font-weight: 600;text-align: left;" id="spandeliverypieces">--</label>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label" style="text-align: left;">Weight <span style="float:right">:</span></label>
                                <label class="control-label" style="font-weight: 600;text-align: left;" id="spandeliveryweight">--</label>
                            </div>
                            <div class="col-sm-3">
                                <label class="control-label" style="text-align: left;" for="textdeliveryto">Bill Amount</label>
                                <input type="text" id="textbillamount" maxlength="6" value="0" placeholder="Bill Amount" class="form-control" />
                                <span class="red" id="spanbillamount"></span>
                            </div>
                            <div class="col-sm-3">
                                <label class="control-label" style="text-align: left;" for="textdeliveryto">Delivery To</label>
                                <input type="text" id="textdeliveryto" maxlength="6" value="0" placeholder="Delivery To" class="form-control" />
                                <span class="red" id="spandeliveryto"></span>
                            </div>


                            <div class="col-sm-3">
                                <label class="control-label" style="text-align: left;" for="textdeliveryphonenumber">Phone Number </label>
                                <input type="text" id="textdeliveryphonenumber" maxlength="10" value="0" placeholder="Phone Number" class="form-control" />
                                <span class="red" id="spandeliveryphonenumber"></span>
                            </div>

                            <div class="col-sm-6">
                                <label class="col-sm-2 control-label" style="text-align: left;">Remarks <span style="float:right">:</span></label>
                                <label class="col-sm-10 control-label" style="font-weight: 600;text-align: left;" id="spandeliverytoberemarks">--</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label class="control-label" style="text-align: left;" for="textdeliverycharges">Delivery Charges </label>
                                <input type="text" id="textdeliverycharges" maxlength="6" value="0" placeholder="Delivery Charges" class="form-control" />
                                <span class="red" id="spandeliverycharges"></span>
                            </div>
                            <div class="col-sm-3">
                                <label class="control-label" style="text-align: left;" for="textdemocharges">Demo Charges </label>
                                <input type="text" id="textdemocharges" maxlength="6" value="0" placeholder="Demo Charges" class="form-control" />
                                <span class="red" id="spandemocharges"></span>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label" style="text-align: left;" for="textdeliveryremarks">Remarks </label>
                                <textarea type="text" id="textdeliveryremarks" maxlength="500" rows="3" placeholder="Remarks" class="form-control"></textarea>
                                <span class="red" id="spandeliveryremarks"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <div class="clearfix form-actions form-group" style="background-color: #fff;">
                            <div style="width: 95%;">
                                <button class="btn btn-sm pull-right" type="reset" style="margin: 5px;" onclick="clearallfields()">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    Reset
                                </button>
                                <button class="btn btn-sm btn-info pull-right" type="button" style="margin: 5px;" onclick="return updatedelivery()">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    Update Delivery
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Assets/js/jquery.2.1.1.min.js"></script>

<script type="text/javascript">
    window.jQuery || document.write("<script src='~/Assets/js/jquery.min.js'>" + "<" + "/script>");
</script>

<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='~/Assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="~/Assets/js/bootstrap.min.js"></script>

<script src="~/scripts/common.js"></script>
<script src="~/scripts/delivery.js"></script>

<script type="text/javascript">
    jQuery(function ($) {
        getmasters();
    });

</script>