@{
    ViewBag.Title = "SSS Cargo - Loading";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/picker.css" rel="stylesheet" />
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            Home
        </li>
        <li class="active" style="font-size:14px; font-weight:600">
            Loading
        </li>
    </ul>
</div>
<div class="page-content">
    <input type="hidden" id="hiddencounterid" value="@ViewBag.CounterId" />
    <input type="hidden" id="hiddenloginid" value="@ViewBag.LoginId" />
    <input type="hidden" id="hiddenmobilenumber" value="@ViewBag.ContactNumber" />

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form">
                <div class="alert alert-warning" style="display: none;" id="divWarningAlert">
                    <strong>Warning!</strong>
                    <span id="spanWarningAlert"></span>
                </div>
                <div class="alert alert-danger" style="display: none;" id="divErrorAlert">
                    <strong>Error!</strong>
                    <span id="spanErrorAlert"></span>
                </div>
                <div class="alert alert-success" style="display: none;" id="divSuccessAlert">
                    <strong>Success!</strong>
                    <span id="spanSuccessAlert"></span>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label class="control-label" style="text-align: left;" for="textgcnuber">GC Number <span class="red">*</span> </label>
                                <input type="text" id="textgcnuber" maxlength="20" value="" placeholder="GC Number" class="form-control" />
                                <span class="red" id="spangcnuber"></span>
                            </div>
                            <div style="float: left;">
                                <button class="btn btn-sm btn-primary pull-right" type="button" style="margin: 25px 5px 5px 5px;" onclick="return searchbooking()">
                                    <i class="ace-icon fa fa-search bigger-110"></i>
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6" style="margin-top:25px">
                                <label class="col-sm-2 control-label" style="text-align: left;">Route <span style="float:right">:</span></label>
                                <label class="col-sm-10 control-label" style="font-weight: 600;text-align: left;" id="spanroute">--</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <table id="dynamic-table" class="table table-striped table-bordered table-hover" style="margin-bottom: 0;">
                                    <thead>
                                        <tr>
                                            <th style="width: 5%;">S.No.</th>
                                            <th style="width: 15%;">GC Number</th>
                                            <th style="width: 10%;">GC Type</th>
                                            <th style="width: 45%;">Weight Info</th>
                                            <th style="width: 10%;">Total Pieces</th>                                           
                                            <th style="width: 10%;">Total Amount</th>
                                            @*<th style="width: 5%;">Actions</th>*@
                                        </tr>
                                    </thead>
                                    <tbody id="tbodybookings">
                                        <tr>
                                            <td colspan="6" style="text-align:center">No search results found</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label class="control-label" style="text-align: left;" for="textdrivername">Driver Name <span class="red">*</span> </label>
                                <input type="text" id="textdrivername" maxlength="50" placeholder="Driver Name" class="form-control" />
                                <span class="red" id="spandrivername"></span>
                            </div>
                            <div class="col-sm-3">
                                <label class="control-label" style="text-align: left;" for="textdrivernumber">Driver Number <span class="red">*</span> </label>
                                <input type="text" id="textdrivernumber" maxlength="10" placeholder="Driver Number" class="form-control numeric" />
                                <span class="red" id="spandrivernumber"></span>
                            </div> 
                            <div class="col-sm-3">
                                <label class="control-label" style="text-align: left;" for="textvehiclenumber">Vehicle No./Service No. <span class="red">*</span> </label>
                                <input type="text" id="textvehiclenumber" maxlength="20" placeholder="Vehicle/Service No." class="form-control" />
                                <span class="red" id="spanvehiclenumber"></span>
                            </div> 
                            <div class="col-sm-3">
                                <label class="control-label" style="text-align: left;" for="textdriveramount">Driver Amount <span class="red">*</span> </label>
                                <input type="text" id="textdriveramount" maxlength="6" value="0" placeholder="Driver Amount" class="form-control" />
                                <span class="red" id="spandriveramount"></span>
                            </div>
                            <div class="col-sm-3">
                                <label class="control-label" style="text-align: left;" for="texthamaliamount">Hamali Amount <span class="red">*</span> </label>
                                <input type="text" id="texthamaliamount" maxlength="6" value="0" placeholder="Hamali Amount" class="form-control" />
                                <span class="red" id="spanhamaliamount"></span>
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label" style="text-align: left;" for="textloadtime">Loading Time <span class="red">*</span> </label>
                                <input type="text" id="textloadtime" maxlength="30" value="" placeholder="Loading Time" class="form-control" />
                                <span class="red" id="spanloadtime"></span>
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label" style="text-align: left;" for="textreachdatetime">Estimated Reach Time  </label>
                                <input type="text" id="textreachdatetime" maxlength="30" value="" placeholder="Estimated Reach Time" class="form-control" />
                                <span class="red" id="spanreachdatetime"></span>
                            </div>
                            <div class="col-sm-5">
                                <label class="control-label" style="text-align: left;" for="textremarks">Remarks </label>
                                <textarea type="text" id="textremarks" maxlength="500" rows="3" placeholder="Remarks" class="form-control"></textarea>
                                <span class="red" id="spanremarks"></span>
                            </div>
                        </div>
                        <div class="clearfix form-actions form-group" style="background-color: #fff;">
                            <div style="width: 95%;">
                                <button class="btn btn-sm pull-right" type="reset" style="margin: 5px;" onclick="clearallfields()">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    Reset
                                </button>
                                <button class="btn btn-sm btn-info pull-right" type="button" style="margin: 5px;" onclick="return saveloading()">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    Save Loading
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modaldeletebooking" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closemodaldeletebooking" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Delete Booking From List</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label style="padding: 0px 15px;">Are you sure do you want to delete this Booking from the list?</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary" onclick="return deletebookingconfirm()">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div id="modalloading" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closemodalloading" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Confirm Loading</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label style="padding: 0px 15px;">Are you sure do you want to loading selected GC Numbers?</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary" onclick="return loadingconfirm()">Confirm</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Assets/js/jquery.2.1.1.min.js"></script>

<script type="text/javascript">
    window.jQuery || document.write("<script src='~/Assets/js/jquery.min.js'>" + "<" + "/script>");
</script>

<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='~/Assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="~/Assets/js/bootstrap.min.js"></script>
<script src="~/js/picker.js"></script>
<!-- page specific plugin scripts -->
<script src="~/Assets/js/jquery.dataTables.min.js"></script>
<script src="~/Assets/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="~/Assets/js/dataTables.tableTools.min.js"></script>
<script src="~/Assets/js/dataTables.colVis.min.js"></script>

<script src="~/scripts/common.js"></script>
<script src="~/scripts/loading.js"></script>

<script type="text/javascript">
    jQuery(function ($) {
        var input = document.getElementById('textreachdatetime');
        var picker = new Picker(input, {
            format: 'YYYY/MM/DD HH:mm',
        });
        var input2 = document.getElementById('textloadtime');
        var picker = new Picker(input2, {
            format: 'YYYY/MM/DD HH:mm',
            date: new Date()
        });
    });
    
</script>