@{
    ViewBag.Title = "SSS Cargo - Receive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/css/jquery-ui.min.css" rel="stylesheet" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            Home
        </li>
        <li class="active" style="font-size:14px; font-weight:600">Receive</li>
    </ul>
</div>
<div class="page-content">
    <input type="hidden" id="hiddencounterid" value="@ViewBag.CounterId" />
    <input type="hidden" id="hiddenloginid" value="@ViewBag.LoginId" />
    <input type="hidden" id="hiddenmobilenumber" value="@ViewBag.ContactNumber" />
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="alert alert-warning" style="display: none;" id="divWarningAlert">
                <strong>Warning!</strong>
                <span id="spanWarningAlert"></span>
            </div>
            <div class="alert alert-danger" style="display: none;" id="divErrorAlert">
                <strong>Error!</strong>
                <span id="spanErrorAlert"></span>
            </div>
            <div class="alert alert-success" style="display: none;" id="divSuccessAlert">
                <strong>Success!</strong>
                <span id="spanSuccessAlert"></span>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textgcnuber">GC Number <span class="red">*</span> </label>
                            <input type="text" id="textgcnuber" maxlength="20" value="" placeholder="GC Number" class="form-control" />
                            <span class="red" id="spangcnuber"></span>
                        </div>
                        <div style="float: left;">
                            <button class="btn btn-sm btn-primary pull-right" type="button" style="margin: 25px 5px 5px 5px;" onclick="return searchbooking()">
                                <i class="ace-icon fa fa-search bigger-110"></i>
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title" style="font-size: 14px;">To be Receiving Details</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">From <span style="float:right">:</span></label>
                            <label class="col-sm-2 control-label" style="font-weight: 600;text-align: left;" id="spantobefrom">--</label>
                        </div>
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">GC Type <span style="float:right">:</span></label>
                            <label class="col-sm-2 control-label" style="font-weight: 600;text-align: left;" id="spantobegctype">--</label>
                        </div>
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">Pieces <span style="float:right">:</span></label>
                            <label class="col-sm-2 control-label" style="font-weight: 600;text-align: left;" id="spantobepieces">--</label>
                        </div> 
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">ETA <span style="float:right">:</span></label>
                            <label class="col-sm-2 control-label" style="font-weight: 600;text-align: left;" id="spantobeeta">--</label>
                        </div>
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">Driver Name <span style="float:right">:</span></label>
                            <label class="col-sm-2 control-label" style="font-weight: 600;text-align: left;" id="spantobedrivername">--</label>
                        </div>
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">Driver Number <span style="float:right">:</span></label>
                            <label class="col-sm-2 control-label" style="font-weight: 600;text-align: left;" id="spantobedrivernumber">--</label>
                        </div>
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;">Remarks <span style="float:right">:</span></label>
                            <label class="col-sm-10 control-label" style="font-weight: 600;text-align: left;" id="spantoberemarks">--</label>
                        </div>
                        <div class="">
                            <label class="col-sm-2 control-label" style="text-align: left;  ">GC Number <span style="float:right">:</span></label>
                            <label class="col-sm-10 control-label" style="font-size:20px; font-weight:bold; text-align: left;" id="spantobegcnumber">--</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title" style="font-size: 14px;">Actual Details</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textactualfrom">From <span class="red">*</span> </label>
                            <input type="text" id="textactualfrom" maxlength="50" value="" placeholder="From" class="form-control" />
                            <span class="red" id="spanactualfrom"></span>
                        </div> 
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="selectactualgctype">GC Type <span class="red">*</span> </label>
                            <select class="form-control" id="selectactualgctype">
                                <option value="0">Select GC Type</option>
                            </select>
                            <span class="red" id="spanactualgctype"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="selectactualreceivingtype">Receiving Type <span class="red">*</span> </label>
                            <select class="form-control" id="selectactualreceivingtype">
                                <option value="0">Select Receiving Type</option>
                            </select>
                            <span class="red" id="spanactualreceivingtype"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textactualnumberofpieces">No. of Pieces <span class="red">*</span> </label>
                            <input type="text" id="textactualnumberofpieces" maxlength="5" value="0" placeholder="No. of Pieces" class="form-control" />
                            <span class="red" id="spanactualnumberofpieces"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textactualvehiclenumber">Vehicle No./Service No. <span class="red">*</span> </label>
                            <input type="text" id="textactualvehiclenumber" maxlength="20" placeholder="Vehicle/Service No." class="form-control" />
                            <span class="red" id="spanactualvehiclenumber"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textactualdrivername">Driver Name <span class="red">*</span> </label>
                            <input type="text" id="textactualdrivername" maxlength="50" placeholder="Driver Name" class="form-control" />
                            <span class="red" id="spanactualdrivername"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textactualdrivernumber">Driver Number <span class="red">*</span> </label>
                            <input type="text" id="textactualdrivernumber" maxlength="10" placeholder="Driver Number" class="form-control numeric" />
                            <span class="red" id="spanactualdrivernumber"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textactualhamaliamount">Hamali Charges <span class="red">*</span> </label>
                            <input type="text" id="textactualhamaliamount" maxlength="6" value="0" placeholder="Hamali Charges" class="form-control" />
                            <span class="red" id="spanactualhamaliamount"></span>
                        </div> 
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textactualtranshipmentamount">Transhipment Charges <span class="red">*</span> </label>
                            <input type="text" id="textactualtranshipmentamount" maxlength="6" value="0" placeholder="Transhipment Charges" class="form-control" />
                            <span class="red" id="spanactualtranshipmentamount"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textactualtotalweight">Total Weight <span class="red">*</span> </label>
                            <input type="text" id="textactualtotalweight" maxlength="6" value="0" placeholder="Total Weight" class="form-control" />
                            <span class="red" id="spanactualtotalweight"></span>
                        </div> 
                        <div class="col-sm-6">
                            <label class="control-label" style="text-align: left;" for="textbillamount">Bill Amount<span class="red">*</span> </label>
                            <input type="text" id="textbillamount" maxlength="50" placeholder="Bill Amount" class="form-control" />
                            <span class="red" id="spanbillamount"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textactualdeliveryto">Delivery To <span class="red">*</span> </label>
                            <input type="text" id="textactualdeliveryto" maxlength="50" placeholder="Delivery To" class="form-control" />
                            <span class="red" id="spanactualdeliveryto"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label" style="text-align: left;" for="textactualphonenumber">Phone Number <span class="red">*</span> </label>
                            <input type="text" id="textactualphonenumber" maxlength="10" placeholder="Driver Number" class="form-control numeric col-sm-3" />
                            <span class="red" id="spanactualphonenumber"></span>
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label" style="text-align: left;" for="textactualremarks">Remarks </label>
                            <textarea type="text" id="textactualremarks" maxlength="500" rows="3" placeholder="Remarks" class="form-control"></textarea>
                            <span class="red" id="spanactualremarks"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="clearfix form-actions form-group" style="background-color: #fff;">
                        <div style="width: 95%;">
                            <button class="btn btn-sm pull-right" type="reset" style="margin: 5px;" onclick="clearallfields()">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                Reset
                            </button>
                            <button class="btn btn-sm btn-info pull-right" type="button" style="margin: 5px;" onclick="return savereceiveing()">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Save Receiving
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Assets/js/jquery.2.1.1.min.js"></script>
<script src="~/Assets/js/jquery-ui.min.js"></script>

<script type="text/javascript">
    window.jQuery || document.write("<script src='~/Assets/js/jquery.min.js'>" + "<" + "/script>");
</script>

<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='~/Assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="~/Assets/js/bootstrap.min.js"></script>

<script src="~/scripts/common.js"></script>
<script src="~/scripts/receiving.js"></script>

<script type="text/javascript">
    jQuery(function ($) {
        getmasters();
    });

</script>